@{
    ViewBag.Title = "About Us";
}
<h2>About</h2>
<p>Sample by Igor Okulist.</p>
<p>Learn more about this sample at: <a href="http://www.codeproject.com/KB/WCF/RESTTechnobabble.aspx">
    http://www.codeproject.com/KB/WCF/RESTTechnobabble.aspx</a> </p>
