@model IList<Web.Contract.SampleItem> 

@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

@if (null != Model && Model.Count > 0) {
    <ul>
    @foreach (var item in Model) {
        <li>@item.StringValue</li>
    }
    </ul>
}