@model IList<Web.Contract.SampleItem> 
@{
    ViewBag.Title = "Home Page";
}
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">
        http://asp.net/mvc</a>.
</p>

@*
@if (null != Model && Model.Count > 0) {
    <table>
        <thead>
            <tr><td></td><td></td><td>Id</td><td>StringValue </td></tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr><td>Edit</td><td>Delete</td><td>@item.Id</td><td>@item.StringValue</td></tr>
            }
        </tbody>
    </table>
}*@