<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.serviceModel>
    <services>
      <service name="Web.Service.TechnobabbleService">
        <endpoint address="http://localhost:10096"
                  binding="basicHttpBinding"
                  bindingConfiguration=""
                  contract="Web.Contract.ITechnobabble" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RestEndpointBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <standardEndpoints>
    </standardEndpoints>
  </system.serviceModel>

</configuration>

